.house-map {
  background-color: #fff;
  &__title {
    padding: 0 3%;
    line-height: 44px;
    font-weight: normal;
  }
  &__map-gl {
    height: 145px;
  }
  &-label-arrow {
    position: absolute;
    width: 11px;
    height: 10px;
    top: 23px;
    left: 10px;
    background: url(http://map.baidu.com/fwmap/upload/r/map/fwmap/static/house/images/label.png) no-repeat;
    overflow: hidden;
  }
}
